@import '~antd/dist/antd.css';

h1 {
  text-align: center;
}

.formDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px auto;
}

.formTag {
  width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

button {
  margin-top: 30px;
}
