@import url("https://fonts.googleapis.com/css?family=Fjalla+One&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
  font-family: "Fjalla One";
}

.ant-tabs-content {
  width: 60vw;
  height: 80vh;
  background: #e9e6f0;
  border: 2px solid black;
  box-shadow: 5px 5px 1px #9575cd, 5px 5px 1px 2px black;
  overflow: hidden;
  display: flex;
  padding: 0;
}

.ant-tabs-tabpane,
ant-tabs-tabpane-active {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
}

.ant-tabs-content button {
  height: 30px;
  background-color: #65499c;
  color: #ffffff;
  border-radius: 5px;
  border: 0;
  margin: 2px 3px;
  font-size: 10px;
  font-family: "Elice Digital Baeum", sans-serif;
}
.ant-tabs-content button:hover {
  background-color: #9575cd;
}
/* Topdata */
.weather-selection,
.weather-selection *,
.emotion-selection,
.emotion-selection * {
  box-sizing: border-box;
}

.weather-selection,
.weather-selection .weather-option,
.weather-selection .weather-cover,
.emotion-selection,
.emotion-selection .emotion-option,
.emotion-selection .emotion-cover {
  transition-duration: 0.6s;
}

.weather-selection,
.emotion-selection {
  position: relative;
  border-radius: 10px;
  width: 150px;
  min-height: 2.3em;
  background: #a9adb6;
  border-radius: 0.25em;
  perspective: 300;
  box-shadow: 0 -1px 2px #fff, inset 0 1px 2px rgba(0, 0, 0, 0.2),
    inset 0 0.25em 1em rgba(0, 0, 0, 0.1);
}

.weather-selection .weather-option,
.emotion-selection .emotion-option {
  transition-timing-function: ease;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.weather-selection .weather-option a,
.emotion-selection .emotion-option a {
  text-decoration: none;
  color: #f0f8ff;
}

.weather-selection .weather-cover,
.emotion-selection .emotion-cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: left bottom;
  transform-style: preserve-3d;
  color: white;
  text-align: center;
  pointer-events: none;
  z-index: 100;
}

.weather-inner,
.weather-outer,
.emotion-inner,
.emotion-outer {
  position: absolute;
  width: 100%;
  height: 100%;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 0.25em;
  background-image: -webkit-linear-gradient(
    top,
    transparent 0%,
    rgba(0, 0, 0, 0.1) 100%
  );
}

.weather-outer,
.emotion-outer {
  background-color: #65499c;
  transform: translateZ(0.25em);
  line-height: 2.9em;
  font-size: 0.8em;
}

.weather-inner,
.emotion-inner {
  background-color: #9575cd;
}

.weather-selection:hover,
.emotion-selection:hover {
  background: #9575cd;
}

.weather-selection:hover .weather-option,
.emotion-selection:hover .emotion-option {
  opacity: 1;
}

.weather-selection:hover .weather-cover,
.emotion-selection:hover .emotion-cover {
  transform: rotateY(-120deg);
}

.weather-selection:hover .weather-inner,
.emotion-selection:hover .emotion-inner {
  background-color: #9575cd;
}

.weather-selection:hover .weather-outer,
.emotion-selection:hover .emotion-outer {
  background-color: #65499c;
}

.weather-selection:hover .weather-cover,
.weather-selection:hover .weather-outer,
.weather-selection:hover .weather-inner,
.emotion-selection:hover .emotion-cover,
.emotion-selection:hover .emotion-outer,
.emotion-selection:hover .emotion-inner {
  transition-timing-function: cubic-bezier(0.2, 0.7, 0.1, 1.1);
}

.datestyle {
  background-color: #65499c;
  min-height: 2.3em;
}

.datestyle input::placeholder {
  font-size: 1em;
  color: white;
}

.datestyle input {
  width: 100px;
  font-size: 0.8em;
  color: white;
  text-align: center;
}

.weather-outer .weather-icon,
.emotion-outer .emotion-icon {
  font-size: large;
  vertical-align: bottom;
}

/* content */

.paper {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 80%;
  background: #fafafa;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
/* .paper:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 60px;
  background: radial-gradient(#575450 6px, transparent 7px) repeat-y;
  background-size: 30px 30px;
  border-right: 3px solid #d44147;
  box-sizing: border-box;
} */

.paper-content {
  position: absolute;
  top: 30px;
  right: 15px;
  bottom: 50px;
  left: 15px;
  background: linear-gradient(transparent, transparent 28px, #65499c 28px);
  background-size: 30px 30px;
}

.paper-content textarea {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  line-height: 30px;
  border: 0;
  outline: 0;
  background: transparent;
  color: black;
  /* font-family: 'Handlee', cursive; */
  /* font-weight: bold; */
  font-size: 18px;
  box-sizing: border-box;
  z-index: 1;
}

.submitButton {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

/*image*/
.image-item {
  text-align: center;
  margin: 0 auto;
}

.image-item__btn-wrapper {
  text-align: left;
}
