@import url(//font.elice.io/EliceDigitalBaeum.css);

button {
  height: 30px;
  background-color: #65499c;
  color: #ffffff;
  border-radius: 5px;
  border: 0;
  margin: 2px 3px;
  font-size: 10px;
  font-family: "Elice Digital Baeum", sans-serif;
}

button:hover {
  background-color: #9575cd;
}
